body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    background-color: #2c3e50;
    padding: 10px 20px;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li{
    display: inline;

}

nav ul li a{
    color: #ecf0f1;
    text-decoration: none;
    font-weight: 500;
    padding: 8px 12px;
    border-radius: 4px;
}

nav ul li a:hover{
    background-color: #34495e;
}
hr{
    margin: 0;
    border: 0;
    border-top: 2px solid #ccc;
}

.container{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo-form{
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0,0, 0,0.1);
    max-width: 400px;
    width:100%;
}

.input{
    width: 100%;
    padding: 12px;
    border:  1px solid #ccc;
    font-size: 16px;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea.input{
    min-height: 100px;
    resize:vertical;
}

.btn{
    width: 100%;
    padding: 12px;
    background-color: #2c3e50;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.btn:hover{
    background-color: #34495e;
}

.task-list{
    list-style: none;
    padding: 0;
    max-width: 600;
    margin: auto;
}

.task-item{
    background-color: #fff;
    margin-bottom: 15px; 
    padding: 15px 20px;
    border-left: 5px solid #4caf50;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.task-title{
    font-weight: bold;
    font-size: 18px;
    color: #333;
    margin-bottom: 8px;
}

.task-description{
    color: #666;
}

.delete-item{
    margin-top: 10px;
    padding: 4px 8px;
    background-color: #ff4d4e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline;
}

.delete-item:hover{
    background-color: red;
}

.update-item{
     margin-top: 10px;
    padding: 4px 8px;
    background-color: #4dff4d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline;
}

.update-item:hover{
    background-color:green;
}